img.Mod_Header_Banner {
	float: left;
	
	width: 100%;
}

span.Mod_Header_Name {
	width: 200px;
	height: 40px;
	
	margin-top: 10px;
	margin-bottom: 10px;
	
	display: inline-block;
	
	float: left;
	
	line-height: 38px;
	
	font-size: 26px;
	font-weight: bold;
	font-family: Arial, sans-serif;
}

.Mod_Header_Button_Container {
	height: 40px;
	
	margin-top: 10px;
	margin-bottom: 10px;
	
	float: right;
}

.Mod_Header_Button {
	width: 200px;
	height: 40px;
	
	border-style: solid;
	border-width: 2px;
	border-radius: 4px;
		
	display: inline-block;
	
	text-align: center;
	line-height: 38px;
	
	text-decoration: none;
	
	cursor: pointer;
	
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
	color: initial;
}

#Mod_Header_Documentation_Button {
	background-color: #e1ffe1; /* No named colors are as pale of a green as I wanted thus I am taking this color and dubbing it Eiffel Green (because the hex code spells eiffel wow)*/
	border-color: #e1ffe1;
}

#Mod_Header_Download_Button {
	background-color: mistyrose;
	border-color: mistyrose;
}

.Mod_Header_Button_Text {
	width: 100%;
	height: 100%;
	
	position: relative;
}

table.Mod_Strip {
	width: 100%;
	height: 50px;
	
	border-color: lightgray;
	border-width: 1px;
	border-style: solid;
	
	background-color: aliceblue;
}

th.Mod_Strip_Item {
	width: 25%;
	
	position: relative;
	
	display: inline-block;
	text-align: center;
	
	font-weight: normal;
}

div.Mod_Tab_Buttons {
	width: 100%;
	height: 50px;
	
	margin-top: 25px;
	
	border-collapse: collapse;
}

span.Mod_Tab_Button, span.Mod_Tab_Button_Active {
	width: 150px;
	height: 50px;
	
	position: relative;
	
	display: table-cell;
	text-align: center;
	
	border-style: solid;
	border-color: lightgray;
	border-width: 1px;
	
	font-weight: normal;
	
	background-color: aliceblue;
	
	cursor: pointer;
	
	vertical-align: middle;
}

span.Mod_Tab_Button_Active {
	background-color: lavender;
}

div.Mod_Tabs {
	min-height: 250px;
	
	padding: 25px;
	
	padding-right: 50px;
	padding-left: 50px;
	
	border-style: solid;
	border-color: lightgray;
	border-width: 1px;
}

div.Mod_Game_Banner {
	background-color: ghostwhite;
	
	border-style: solid;
	border-color: lightgray;
	border-width: 1px;
	border-radius: 20px;
	
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 100px;
	padding-left: 100px;
	
	margin-bottom: 50px;
	
	text-align: center
}

div.Mod_Download {
	height: 125px;
	  
	border-style: solid;
	border-color: gainsboro;
	border-width: 1px;
}

div.Mod_Download_Header {
	height: 40px;
	line-height: 40px;
	
	padding-left: 25px;
	padding-right: 25px;
	
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: lightgray;
	
	background-color: aliceblue;
}

span.Mod_Download_Name {
	font-weight: bold;
	font-size: 20px;
}

a.Mod_Download_Button {
	width: 125px;
	height: 30px;
	
	float: right;
	
	margin-top: 5px;
	margin-bottom: 5px;
	
	border-style: solid;
	border-width: 2px;
	border-color: mistyrose;
	border-radius: 4px;
	
	line-height: 30px;
	
	background-color: mistyrose;
	
	text-decoration: none;
	color: initial;
	
	text-align: center;
}

div.Mod_Header_Download_Button_Text {
	height: 100%;	
}

div.Mod_Download {
	margin-bottom: 50px;
}

div.Mod_Download_Description {
	margin-top: 5px;
	padding-left: 25px;
	padding-right: 25px;
	overflow-y: hidden;
}

div.Mod_Support_Banner {
	background-color: lemonchiffon;
	
	border-style: solid;
	border-color: lightgray;
	border-width: 1px;
	border-radius: 20px;
	
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 100px;
	padding-left: 100px;
	
	margin-bottom: 50px;
	
	text-align: center
}

a.Mod_Support_Banner_Button {
	width: 500px;
	height: 50px;
	display: inline-block;
	
	text-align: center;
	text-decoration: none;
	color: inherit;
		
	border-style: solid;
	border-width: 1px;
	border-color: mistyrose;
	background-color: mistyrose;

	line-height: 50px;
	
	border-radius: 10px;

	margin-top: 10px;
}

div.Mod_Support_Banner_Button_Text {
	height: 100%;
}

div.Mod_Tab hr {
	margin-top: 50px;
	margin-bottom: 50px;
}

div.Requirement_Warning_Dialog_Background {	
	position: fixed;
	
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	
	background-color: ghostwhite;
	
	z-index: 50;
}
	
div.Requirement_Warning_Dialog_Container {
	width: 500px;
	height: 200px;
	
	left: 50%;
	top: 50%;
	
	margin-left: -250px;
	margin-top: -100px;
	
	position: relative;
	
	line-height: 300px;
	text-align: center;
}

div.Requirement_Warning_Dialog {
	width: inherit;
	height: inherit;
	
	line-height: normal;
	
	border-style: solid;
	border-width: 2px;
	border-radius: 4px;
	border-color: gainsboro;
	
	background-color: white;
}

div.Requirement_Warning_Dialog_Text {
	top: 25%;
	bottom: 75%;
	margin-left: 5%;
	margin-right: 5%;
	
	position: relative;
}

span.Requirement_Warning_Dialog_Continue_Button {
	width: 37.5%;
	height: 40px;
	
	bottom: 0px;
	left: 0px;
	right: 0px;
	
	border-style: solid;
	border-width: 2px;
	border-radius: 4px;
	
	position: absolute;
	
	line-height: 38px;
	
	cursor: pointer;
	
	margin: 0px 31.25% 20px 31.25%;
	
	background-color: mistyrose;
	border-color: mistyrose;
	
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

div.Requirement_Warning_Dialog_Continue_Button_Text {
	width: 100%;
	height: 100%;
	
	position: absolute;
}


