<li class = "Mod_List_Entry_Container">
	<a class = "Mod_List_Entry_Link" href = "{<-PageURL->}"></a>

	<div class = "Mod_List_Entry">
		<img class = "Mod_List_Entry_Preview" src = "{<-PreviewURL->}"/>
		
		<div class = "Mod_List_Entry_Name"><!--
			-->{<-Name->}<!--
		--></div>
		
		<div class = "Mod_List_Entry_Description"><!--
			-->{<-Description->}<!--
		--></div>
		
		<span class = "Mod_List_Entry_Game"><!--
			--><u>Game</u><br /><!--
			-->{<-Game->}<!--
		--></span>
		
		<span class = "Mod_List_Entry_Version"><!--
			--><u>Mod version</u><br /><!--
			-->{<-Version->}<!--
		--></span>
		
		
		
		<span class = "Mod_List_Entry_Update_Date"><!--
			--><u>Last updated</u><br /><!--
			-->{<-UpdateDate->}<!--
		--></span>
	</div>
</li>