<!doctype html>
<html lang = "en">
	<head>
		<title>{Title}</title>
		<meta name = "description" content = "{Description}" />
		
		<base href = "{Base Path}" />
		
		<link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
		
		<link rel = "stylesheet" type = "text/css" href = "styles/content.css" />
		<link rel = "stylesheet" type = "text/css" href = "styles/universal.css" />
		
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-122165204-3"></script>
		<script src = "scripts/analytics.js"></script>
		<script src = "scripts/content.js"></script>
	</head>

	<body>
		<div class = "Document">
			<div class = "Content_Container">
				<div class = "Content">
					<div class = "Content_Offset"><!--
						-->{Content}<!--
					--></div>
				</div>
			</div>
		</div>
	</body>
</html>